body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.TodoWrapper {
  display: flex;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 1800px;
  height: 70vh;
  overflow: hidden;
}

.TodoSection {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.TodoSection h2 {
  border-bottom: 2px solid black;
  padding-bottom: 5px;
}

.TodoForm {
  background-color: #ccc;
  padding: 20px;
  border-radius: 10px;
  flex: 1;
}

.TodoForm label {
  display: block;
  margin-bottom: 10px;
}

.TodoForm input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.TodoForm input[type="radio"] {
  margin-right: 5px;
}

.priority label {
  display: block;
  margin-bottom: 5px;
}

.todo-btn {
  background-color: black;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
}

.add-task-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.Todo {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Todo p {
  margin: 0;
}

.Todo .task-details {
  display: flex;
  flex-direction: column;
}

.delete-btn {
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
  color: grey;
}
