/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px; /* Adiciona um padding ao redor da página */
}

/* Wrapper principal */
.TodoWrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 80%;
  max-width: 1200px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.TodoWrapper h1 {
  text-align: center;
  margin-bottom: 20px;
  flex-basis: 100%;
}

/* Seção de tarefas */
.TodoSection {
  flex: 1;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  margin-right: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.TodoSection h2 {
  margin-bottom: 10px;
  font-size: 1.2em;
  border-bottom: 1px solid #000;
}

/* Lista de tarefas */
.Todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.Todo p {
  margin: 0;
}

.Todo.completed p {
  text-decoration: line-through;
  color: gray;
}

.Todo .delete-btn {
  cursor: pointer;
}

/* Formulário */
.TodoForm {
  flex: 2; /* Faz o card da direita maior */
  padding: 20px;
  background-color: #d3d3d3;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.TodoForm input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.TodoForm button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Detalhes da tarefa */
.TaskDetails {
  display: flex;
  flex-direction: column;
}

.TaskDetails label {
  margin-bottom: 5px;
}

.TaskDetails input[type="radio"] {
  margin-right: 10px;
}

.TaskDetails .priority {
  margin-top: 10px;
}

/* Botão adicionar */
.add-task-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #000;
  color: white;
  border-radius: 50%;
  font-size: 1.5em;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
